// ======================= 新版-pc：主题相关全局配置 =======================

// 主题颜色
$themeColor: #2C72F3;
// 主题背景颜色
$themeBgColor: #f6f7f7;
// 顶部导航高度
$topNavHeight: 70px;

// 常用的一些样式
$cc: #ccc;
$c3: #333;
$c6: #666;
$c9: #999;
$ff: #fff;

// 动画过渡时间
@mixin moveTime {
  transition: 0.3s all;
}

// ===================================== 侧边栏菜单样式 =====================================


// ======================================= end =======================================