// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}

/* flex布局 */
.flex { display: flex; flex-wrap: nowrap; }
.fwrap { display: flex; flex-wrap: wrap; }
.f1 { flex: 1; }
.f2 { flex: 2; }
.f3 { flex: 3; }
/* 垂直居中 */
.fvertical { display: flex; align-items: center; }
/* 水平居中 */
.fcenter { display: flex; justify-content: center; }
/* 水平+垂直居中 */
.fcc { display: flex; align-items: center; justify-content: center; }
/* 右对齐 */
.fright { display: flex; justify-content: flex-end; }
/* 两端对齐 */
.fbetween { display: flex; justify-content: space-between; }
/* 靠底部对齐 */
.fbottom { display: flex; align-items: flex-end; }